{% load static%}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>RUWST</title>
        <meta name="description" content="Hafizullah Karim solution RUWST technical test">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
    </head>
    <body>
       
      {% for photo in photos %}
      <div class="wrapper">
        <div class='myDIV'>
          <img src="{{ photo.image.url}}" height=800 width=800 class="aks img-fluid mb-2">
          <div class="box"></div>
  
        </div>
        <div class='hide'>
          <h1 class="text">{{ photo.image.name }}</h1>
          <h2 class="text">{{ photo.takenBy }}</h2>
          <h2 class="text">{{ photo.dateTaken }}</h2>
          <h2 class="text">{{ photo.appprovedDate}}</h2>
        </div>
      </div>
    
      {% endfor %}


     
        
        <script src="" async defer></script>
    </body>
</html>



