.wrapper {
  position:relative;
  display: inline-block;

}


.hide {
display: none;
}
  
.myDIV:hover + .hide {
  justify-self: center;
display: block;
color: black;
}


.box {
  position:absolute;
  top:0;
  right:0;
  display: block;
  width:220px;
  height:100px;
  border:20px solid blue;
  background-color:blue; 
}